<% if logged_in?(session) %>
  <% redirect to '/tweets' %>
<% else %>

<h3>Sign Up</h3>
<form method="POST" action="/signup">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="text" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="submit" value="Sign Up">
</form>
<% end %>